body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img{
    width: 300px;
    height: 300px;  
    border-radius: 50%;
    border: 2px solid rgb(60, 83, 112);
}

.center{
    text-align: center;
}

h1{
    color: rgb(60, 83, 112);
}

footer img{
    width: 80px;
    height: 80px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 50px;
    text-align: center;
}

.logo-linkedin{
    width: 30px;
    height: auto;
    margin-top: 20px;
}

.container{
    padding: 0px 50px;
}

nav a:hover{
    color: rgb(60, 83, 112);
}